.form-grid {
    display: grid;
}

.Form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(159, 152, 155, 0.7);
    max-width: 500px;
    height:auto;
    align-items: center;
    justify-content: center;
}

.Form h2 {
    font-size: 24px;
    color: #000000;
}

.Form label {
    font-size: 16px;
    color: rgb(2, 2, 2);
}