.form-grid {
    display: grid;
}

.Form {
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(159, 152, 155, 0.7)
}

.Form h2 {
    font-size: 24px;
    color: #fdfafa;
}

.Form label {
    font-size: 16px;
    color: rgb(247, 250, 249);
}