body {
  background-image: url('./Assests/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.modal-active {
  display: flex;
}




.add-entry-form {
  margin: 1em;
  padding: 1em;
  width: 100%; /* Make the components take up full width */
  max-width: 700px; /* Adjust the maximum width as needed */
}

